{% load static %}
<aside class="app-sidebar" id="sidebar">

    <!-- Start::main-sidebar-header -->
    <div class="main-sidebar-header">
        <a class="navbar-brand" style="font-weight:bold; font-size:20px;" href="{% url 'home' %}">
            {% comment %} <img src="{% static 'images/logo.svg' %}" alt="Logo"> {% endcomment %}
            <span style="color:#fff;">H20 Quality<span style="color:#ed7d3a; ">App</span>
            
        </a>
    </div>
    <!-- End::main-sidebar-header -->

    <!-- Start::main-sidebar -->
    <div class="main-sidebar" id="sidebar-scroll">

        <!-- Start::nav -->
        <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <div class="slide-left" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24"
                    height="24" viewBox="0 0 24 24">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                </svg></div>
            <ul class="main-menu">
                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name">Main</span></li>
                <!-- End::slide__category -->

                <!-- Start::slide -->
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-home side-menu__icon"></i>
                        <span class="side-menu__label">Dashboard</span>
                        
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide side-">
                            <a href="javascript:void(0)">Dashboards</a>
                        </li>
                    </ul>
                </li>
                <!-- End::slide -->
                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name">Menu</span></li>
                <!-- End::slide__category -->

                <!-- Start::slide -->
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-file-blank side-menu__icon"></i>
                        <span class="side-menu__label">Menu</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide side-menu__label1"><a href="/direction">Navigate</a></li>
                        
                       
                            <ul class="slide-menu child2">
                                <li class="slide"><a href="/direction" class="side-menu__item">Navigate</a></li>
                              
                                </li>
                               
                                
                            </ul>
                        </li>
                      
                        <li class="slide"><a href="/predict" class="side-menu__item">Predict H20 Quality</a></li>
                        
                        {% comment %} <li class="slide"><a href="/property" class="side-menu__item">Properties</a></li> {% endcomment %}
                        {% comment %} <li class="slide"><a href="/sold_properties" class="side-menu__item">Sold Properties</a></li> {% endcomment %}
                        
                    </ul>
                </li>
                <!-- End::slide -->
            </ul>
            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24"
                    height="24" viewBox="0 0 24 24">
                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
                </svg>
            </div>
        </nav>
        <!-- End::nav -->

    </div>
    <!-- End::main-sidebar -->

</aside>
<!-- END SIDEBAR -->