{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" class="light" data-header-styles="light" data-menu-styles="dark">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

        <!-- META DATA -->
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" content="Spruko Technologies Private Limited">
        <meta name="Description" content="Ynex - PHP Tailwind CSS assets & Dashboard Template">
        <meta name="keywords" content="assets template, assets dashboard, php assets panel, assets, tailwind css dashboard, php assets dashboard, tailwind assets template, tailwind template, php dashboard, dashboard, tailwind, tailwind dashboard, tailwind css, tailwind css template">
        
        <!-- TITLE -->
		<title> User's Dashboard </title>

        <!-- FAVICON -->
        <link rel="icon" href="https://php.spruko.com/tailwind/ynex/ynex/assets/images/brand-logos/favicon.ico" type="image/x-icon">

        <!-- ICONS CSS -->
        <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">
        
        <!-- STYLE CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

                        
        <!-- SIMPLEBAR CSS -->
        <link rel="stylesheet" href="{% static 'assets/libs/simplebar/simplebar.min.css' %}">

        <!-- COLOR PICKER CSS -->
        <link rel="stylesheet" href="{% static 'libs/%40simonwep/pickr/themes/nano.min.css' %}">
        
        <!-- MAIN JS -->
        <script src="{% static 'assets/js/main.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <style>
            .options-container {
                margin-bottom: 20px;
            }
            .option {
                margin-bottom: 10px;
            }
            .option input[type="radio"] {
                margin-right: 10px;
            }
        </style>


	</head>