{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    Face Emotion Recognition
  </title>
  <link rel="shortcut icon" href="{% static 'image/faces/f6.jpg' %}"  type="image/x-icon">
  <!-- Bootstrap , fonts & icons  -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/icon-font/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/typography-font/typo.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/fontawesome-5/css/all.css' %}">
  <!-- Plugin'stylesheets  -->
  <link rel="stylesheet" href="{% static 'plugins/aos/aos.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/fancybox/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/nice-select/nice-select.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/slick/slick.min.css' %}">
  <!-- Vendor stylesheets  -->
  <link rel="stylesheet" href="{% static 'plugins/theme-mode-switcher/switcher-panel.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <!-- Custom stylesheet -->
</head>


    
    
    
  