{% load static %}
<br>
<!-- Footer Area -->
<footer class="footer-section footer-section--l4 position-relative bg-default">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="footer-top border-bottom border-default-color-3 pb-5">
            <div class="row align-items-center justify-content-center">
              <div class="col-6 col-xxs-4 col-lg-4 col-md-5 col-xs-4">
                <div class="footer-brand-block footer-brand-block--l4 mb-md-0">
                  <!-- Brand Logo-->
                  <div class="brand-logo mb-0 text-center text-md-start mx-auto mx-md-0">
                    <a href="#">
                      <!-- light version logo (logo must be black)-->
                      {% comment %} <img src="{% static 'image/png/logo-dark.png' %}" alt="" class="light-version-logo"> {% endcomment %}
                      <!-- Dark version logo (logo must be White)-->
                      {% comment %} <img src="{% static 'image/png/logo-white.png' %}" alt="" class="dark-version-logo"> {% endcomment %}
                      <h2> Face Recognition <span class="text-danger" style="color:red;">Predictor</span> </h2>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-7">
                <div class="footer-menu text-center text-md-end">
                  {% comment %} <p>MindQuest is developed in collaboration with mental health professionals to ensure safe and accurate content.</p> {% endcomment %}
                  <ul class="list-unstyled">
                    <li>
                      <a href="#">About us</a>
                    </li>
                    <li>
                      <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                      <a href="#">Terms & Conditions</a>
                    </li>
                  
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </footer>

</div>
  
</body>
</html>
  <!--/ .Footer Area -->
  <!-- Plugin's Scripts -->
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'plugins/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'plugins/fancybox/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'plugins/nice-select/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'plugins/aos/aos.min.js' %}"></script>
  <script src="{% static 'plugins/counter-up/jquery.counterup.min.js' %}"></script>
  <script src="{% static 'plugins/counter-up/waypoints.min.js' %}"></script>
  <script src="{% static 'plugins/slick/slick.min.js' %}"></script>
  <script src="{% static 'plugins/skill-bar/skill.bars.jquery.js' %}"></script>
  <script src="{% static 'plugins/isotope/isotope.pkgd.min.js' %}"></script>
  <!--<script src="./plugins/theme-mode-switcher/gr-theme-mode-switcher.js' %}"></script>-->
  <!-- Activation Script -->
  <script src="{% static 'js/menu.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>